.wali{
    color: rgb(223, 40, 70);
    width: 100px;
    height: 40px;
    padding-top: 20;
    margin: 40px;
}

.dropdown_button {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


.dropdown_button a{
    color:black;
    display: block;
}

.dropdown .dropdown_button{
display: block;
}

.dropdown_button a:hover{
    background-color: blue;
}

.dropdown:hover .wali {
    background-color: #3e8e41;
  }